:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --button-bg: #008CBA;
    --button-bg-hover: #005f73;
    --border-color: #ccc;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

h2 {
    text-align: center;
    color: var(--primary-color);
}

h3 {
    margin-top: 20px;
    color: var(--primary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid var(--border-color);
    vertical-align: middle;
    text-align: center;
    width: 20%;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.button {
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:active {
    background-color: #007B9A; /* Темный цвет для нажатия */
}


.button:hover {
    background-color: var(--button-bg-hover);
}

.button:focus {
    outline: none;
}

@media (max-width: 600px) {
    th, td {
        width: auto; /* Изменить ширину для маленьких экранов */
    }
}

