<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация на дисциплины</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>

<h2>Регистрация на дисциплины</h2>

<table id="scheduleTable">
    <tr>
        <th>Дисциплина</th>
        <th>Время</th>
        <th>Преподаватель</th>
        <th>Язык обучения</th>
        <th>Выбрать</th>
    </tr>
    {% for day, subjects in schedule.items() %}
        <tr><td colspan="5"><strong>{{ day }}</strong></td></tr>
        {% for subject in subjects %}
        <tr>
            <td>{{ subject[1] }}</td> <!-- Название дисциплины -->
            <td>{{ subject[2] }}</td> <!-- Время -->
            <td>{{ subject[5] }}</td> <!-- Преподаватель -->
            <td>{{ subject[4] }}</td> <!-- Язык обучения -->
            <td>
                {% if subject[6] > 0 %}
                    <button class="button select-button"
                        data-subject-id="{{ subject[0] }}"
                        data-day="{{ day }}"
                        onclick="unregisterSubject('{{ subject[0] }}', '{{ day }}', this)">Отменить</button>
                {% else %}
                    <button class="button select-button"
                        data-subject-id="{{ subject[0] }}"
                        data-day="{{ day }}"
                        onclick="registerSubject('{{ subject[0] }}', '{{ day }}', this)">Выбрать</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>

</body>
</html>
