# Игнорировать IDE-конфигурации
.idea/

# Игнорировать виртуальное окружение
venv/

# Игнорировать временные файлы и кэш
*.log
__pycache__/

# Игнорировать аудиофайлы (если не нужны в репозитории)
*.ogg
*.wav

# Игнорировать ffmpeg, если его не нужно хранить
ffmpeg-7.0.2-full_build/

# Игнорировать конфиденциальные файлы с переменными окружения
.env
# Игнорировать исполняемые файлы ffmpeg

